{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/logo/logo.png">
    <title>WalleX——可跨链区块链钱包</title>
    <!-- Custom CSS -->
    <link href="../../static/css/lib/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
</head>

<body class="header-fix fix-sidebar">

<!-- Main wrapper  -->
<div id="main-wrapper">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <h3>注册</h3>
                            <form class="form" action="{{ url_for('auth.register') }}"
                                  method="post" role="form" id="registerForm">
                                <div class="form-group">
                                    <label for="username">用户名
                                        <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-user"></i></div>
                                        <input type="text" class="form-control form-type" id="username"
                                               name="username" placeholder="">
                                    </div>
                                    <small class="form-control-feedback form-feedback"></small>
                                    <small class="form-control-feedback form-tip" style="display: none;">
                                        *用户名由4-10位英文字母、数字或者下画线组成</small>
                                </div>
                                <div class="form-group">
                                    <label for="email">邮箱
                                        <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-email"></i></div>
                                        <input type="email" class="form-control form-type" id="email"
                                               name="email" placeholder="">
                                    </div>
                                    <small class="form-control-feedback form-feedback"></small>
                                    <small class="form-control-feedback form-tip" style="display: none;">
                                        *请输入正确的邮箱</small>
                                </div>
                                <div class="form-group">
                                    <label for="password">密码
                                        <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                                        <input type="password" class="form-control form-type" id="password"
                                               name="password" placeholder="">
                                    </div>
                                    <small class="form-control-feedback form-feedback"></small>
                                    <small class="form-control-feedback form-tip" style="display: none;">
                                        *密码由8-20位字母、数字、特殊符号组成，区分大小写</small>
                                </div>
                                <div class="form-group">
                                    <label for="password2">确认密码
                                        <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                                        <input type="password" class="form-control form-type" id="password2"
                                               name="password2" placeholder="">
                                    </div>
                                    <small class="form-control-feedback form-feedback"></small>
                                    <small class="form-control-feedback form-tip"
                                           style="display: none;">*请确认输入的密码</small>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox checkbox-success">
                                        <input id="subscribe" type="checkbox" name="subscribe">
                                        <label for="subscribe">我已经阅读并同意<a href="#">《服务协议》</a>和<a href="#">《免责声明》</a>
                                            <span class="text-danger">*</span></label>
                                    </div>
                                    <small class="form-control-feedback form-feedback"></small>
                                </div>
                                <button type="submit"
                                        class="btn btn-info btn-flat m-b-30 m-t-10">注册
                                </button>
                                <div class="register-link m-t-5 text-center">
                                    <p>已经有帐号? <a href="{{ url_for('auth.login') }}"> 登录</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="../../static/js/lib/jquery/jquery.min.js"></script>
<script src="../../static/js/lib/jquery/jquery.app.js"></script>
<script src="../../static/js/lib/jquery/jquery.blockUI.js"></script>
<script src="../../static/js/lib/jquery/jquery.nicescroll.js"></script>

<!--Menu sidebar -->
{#    <script src="../static/js/sidebarmenu.js"></script>#}
<!-- Bootstrap tether Core JavaScript -->
<script src="../../static/js/lib/bootstrap/popper.min.js"></script>
<script src="../../static/js/lib/bootstrap/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../../static/js/jquery.slimscroll.js"></script>
<!--stickey kit -->
<script src="../../static/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="../../static/js/lib/webticker/jquery.webticker.min.js"></script>
<script src="../../static/js/lib/peitychart/jquery.peity.min.js"></script>
<!-- sweetalert-->
<script src="../../static/js/lib/sweetalert/sweetalert.min.js"></script>
<!-- scripit init-->
<script src="../../static/js/custom.min.js"></script>
<!-- Form validation -->
<script src="../../static/js/lib/form-validation/jquery.validate.min.js"></script>

<script>
    $(".form-control").focus(function () {
        $(this).parent().siblings(".form-tip").show()
        $(this).parent().siblings(".form-feedback").hide()
    }).blur(function () {
        $(this).parent().siblings(".form-tip").hide()
        $(this).parent().siblings(".form-feedback").show()
    });
    //registerForm
    $(function () {
        $("#registerForm").validate({
            rules: {
                username: {
                    required: true,
                    checkUsername: true,
                    remote: {
                        url: "{{ url_for('auth.validate_username') }}",
                        type: "post",
                        data: {
                            username: function () {
                                return $("#username").val();
                            }
                        }
                    }
                },
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "{{ url_for('auth.validate_email') }}",
                        type: "post",
                        data: {
                            email: function () {
                                return $("#email").val();
                            }
                        }
                    }
                },
                password: {
                    required: true,
                    minlength: 8,
                    maxlength: 20,
                    checkPassword: true
                },
                password2: {
                    required: true,
                    equalTo: "#password",
                    minlength: 8,
                    maxlength: 20
                },
                subscribe: {
                    required: true
                }
            },
            messages: {          //自定义提示信息
                username: {
                    required: "*用户名必填",
                    remote: "*用户名已经存在"
                },
                email: {
                    required: "*邮箱必填",
                    email: "*请输入正确的邮箱",
                    remote: "*邮箱已经注册"
                },
                password: {
                    required: "*密码必填",
                    minlength: "*密码最小长度为8",
                    maxlength: "*密码最大长度为20",
                },
                password2: {
                    required: "*密码必填",
                    equalTo: "*两次密码输入不一致",
                    minlength: "*密码最小长度为8",
                    maxlength: "*密码最大长度为20",
                },
                subscribe: {
                    required: "*请阅读并同意相关条款"
                }
            },
            errorPlacement: function (error, element) {      //错误信息的位置
                $(element).parent().siblings(".form-feedback").show()
                $(element).parent().siblings(".form-tip").hide()
                $(element).parent().siblings(".form-feedback").html(error)
            }
        });
        $.validator.addMethod("checkUsername", function (value, element, params) {
            var check = /^\w{4,10}$/g;
            return this.optional(element) || (check.test(value));
        }, "*只允许4-10位英文字母、数字或者下画线");
        $.validator.addMethod("checkPassword", function (value, element, params) {
            var check = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[._~!@#$^&*])[A-Za-z0-9._~!@#$^&*]{8,20}$/g;
            return this.optional(element) || (check.test(value));
        }, "*密码由字母、数字、特殊符号组成，区分大小写");
    });
</script>
</body>

</html>