{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">WalleX</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for("main.index") }}">主页</a></li>
                <li class="breadcrumb-item active">个人账户</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ current_user.username }}的账户</h4>
                        <h6 class="card-subtitle">帐号信息</h6>
                        <div class=" table-responsive">
                            <table id="accountTable" class="display nowrap table table-hover table-bordered">
                                <thead class="thead-add">
                                <tr>
                                    <th>RPC地址</th>
                                    <th>账户地址</th>
                                    <th>账户别名</th>
                                    <th>跨链权限</th>
                                    <th>金额</th>
                                    <th>注册时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for account in accounts %}
                                    <tr>
                                        <td>{{ account.chain_address }}</td>
                                        <td>{{ account.account_hash }}</td>
                                        <td>{{ account.account_alias }}</td>
                                        <td>{{ '有' if account.across_chain else '无' }}</td>
                                        <td>{{ account.money }}</td>
                                        <td>{{ moment(account.timestamp).format('YYYY/M/D HH:mm:ss') }}</td>
                                        <td>
                                            <a href="javascript:void(0);" class="table-action account-edit"
                                               edit_id="{{ account.id }}"
                                               title="编辑账户"><i class=" fa fa-pencil"></i></a>
                                            <a href="javascript:void(0);" class="table-action account-delete"
                                               delete_id="{{ account.id }}"
                                               title="删除帐号"><i class="fa fa-trash-o"></i></a>
                                            <a href="javascript:void(0);" class="table-action account-password"
                                               passwerd_id="{{ account.id }}"
                                               title="修改密码"><i class="fa fa-lock"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->

    <!-- addModal -->
    <div class="modal fade" id="addModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="addModalLabel">添加账户</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('account.add') }}" method="post" role="form" id="accountForm">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12  p-t-20">
                                    <div class="form-group">
                                        <label class="control-label" for="chain_address">RPC地址
                                            <span class="text-danger">*</span></label>
                                        <input type="text" name="chain_address" id="chain_address"
                                               class="form-control"
                                               placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="account_hash">账户地址
                                            <span class="text-danger">*</span></label>
                                        <input type="text" id="account_hash" name="account_hash"
                                               class="form-control form-control-danger" placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="account_alias">账户别名
                                            <span class="text-danger">*</span></label>
                                        <input type="text" id="account_alias" name="account_alias"
                                               class="form-control form-control-danger" placeholder="">
                                        <small class="form-control-feedback form-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="chain_password">私钥
                                            <span class="text-danger">*</span></label>
                                        <input type="password" id="chain_password" name="chain_password"
                                               class="form-control form-control-danger"
                                               placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="chain_password2">确认私钥
                                            <span class="text-danger">*</span></label>
                                        <input type="password" id="chain_password2" name="chain_password2"
                                               class="form-control form-control-danger" placeholder="">
                                        <small class="form-control-feedback form-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title m-t-15">高级</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4">是否开启跨链权限
                                            <span class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <div class="radio row">
                                                <label class="checkbox col-md-3">
                                                    <input type="radio" name="across_chain" id="cross_chain1"
                                                           value="true">开启
                                                </label>
                                                <label class="checkbox col-md-3">
                                                    <input type="radio" name="across_chain" id="cross_chain2"
                                                           value="false">不开启
                                                </label>
                                            </div>
                                            <small class="form-control-feedback form-feedback"> </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4">是否设置单独支付密码
                                            <span class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <div class="radio row">
                                                <label class="checkbox col-md-3">
                                                    <input type="radio" name="independent_password"
                                                           id="independent_password1"
                                                           value="true">是
                                                </label>
                                                <label class="checkbox col-md-3">
                                                    <input type="radio" name="independent_password"
                                                           id="independent_password2"
                                                           value="false">否
                                                </label>
                                            </div>
                                            <small class="form-control-feedback form-feedback"> </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="independent_password_field" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="pay_password">独立支付密码</label>
                                        <input type="password" id="pay_password" name="pay_password"
                                               class="form-control form-control-danger"
                                               placeholder="请输入6-15位密码">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="pay_password2">确认密码</label>
                                        <input type="password" id="pay_password2" name="pay_password2"
                                               class="form-control form-control-danger" placeholder="">
                                        <small class="form-control-feedback form-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group has-danger">
                                        <div class="checkbox checkbox-success">
                                            <input id="subscribe" type="checkbox" name="subscribe"
                                                   class="form-control-danger">
                                            <label for="subscribe"> 同意《xxxx》条款
                                                <span class="text-danger">*</span></label></label>
                                        </div>
                                        <small class="form-control-feedback form-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info" id="add_submit">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!-- editModal -->
    <div class="modal fade" id="editModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="editModalLabel">编辑账户</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('account.edit') }}" method="post" role="form" id="accountEditForm">
                        <div class="form-body">
                            <input type="hidden" name="account_id" id="account_id" value=""/>
                            <div class="row">
                                <div class="col-md-12  p-t-20">
                                    <div class="form-group">
                                        <label class="control-label" for="edit_chain_address">RPC地址
                                            <span class="text-danger">*</span></label>
                                        <input type="text" name="edit_chain_address" id="edit_chain_address"
                                               class="form-control"
                                               placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="edit_account_hash">账户地址
                                            <span class="text-danger">*</span></label>
                                        <input type="text" id="edit_account_hash" name="edit_account_hash"
                                               class="form-control form-control-danger" placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="edit_account_alias">账户别名
                                            <span class="text-danger">*</span></label>
                                        <input type="text" id="edit_account_alias" name="edit_account_alias"
                                               class="form-control form-control-danger" placeholder="">
                                        <small class="form-control-feedback form-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="edit_chain_password">私钥
                                            <span class="text-danger">*</span></label>
                                        <input type="password" id="edit_chain_password" name="edit_chain_password"
                                               class="form-control form-control-danger"
                                               placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="edit_chain_password2">确认私钥
                                            <span class="text-danger">*</span></label>
                                        <input type="password" id="edit_chain_password2" name="edit_chain_password2"
                                               class="form-control form-control-danger" placeholder="">
                                        <small class="form-control-feedback form-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title m-t-15">高级</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4">是否开启跨链权限</label>
                                        <div class="col-md-8">
                                            <div class="radio row">
                                                <label class="checkbox col-md-3">
                                                    <input type="radio" name="edit_across_chain" id="edit_cross_chain1"
                                                           value="true" checked>开启
                                                </label>
                                                <label class="checkbox col-md-3">
                                                    <input type="radio" name="edit_across_chain" id="edit_cross_chain2"
                                                           value="false">不开启
                                                </label>
                                            </div>
                                            <small class="form-control-feedback form-feedback"> </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group has-danger">
                                        <div class="checkbox checkbox-success">
                                            <input id="edit_subscribe" type="checkbox" name="edit_subscribe"
                                                   class="form-control-danger">
                                            <label for="edit_subscribe"> 同意《xxxx》条款
                                                <span class="text-danger">*</span></label></label>
                                        </div>
                                        <small class="form-control-feedback form-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info" id="edit_submit">修改</button>
                </div>
            </div>
        </div>
    </div>

    <!-- passwordModal -->
    <div class="modal fade" id="passwordModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="editModalLabel">修改密码</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('account.password') }}" method="post" role="form" id="passwordForm">
                        <div class="form-body">
                            <input type="hidden" name="password_account_id" id="password_account_id" value=""/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="old_password">旧密码
                                            <span class="text-danger">*</span></label>
                                        <input type="password" id="old_password" name="old_password"
                                               class="form-control form-control-danger"
                                               placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="control-label col-md-5">是否设置单独支付密码
                                            <span class="text-danger">*</span></label>
                                        <div class="col-md-7">
                                            <div class="radio row">
                                                <label class="checkbox col-md-3">
                                                    <input type="radio" name="edit_independent_password"
                                                           id="edit_independent_password1"
                                                           value="true">是
                                                </label>
                                                <label class="checkbox col-md-3">
                                                    <input type="radio" name="edit_independent_password"
                                                           id="edit_independent_password2"
                                                           value="false">否
                                                </label>
                                            </div>
                                            <small class="form-control-feedback form-feedback"> </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row edit_independent_password_field" style="display:none">
                                <div class="col-md-12">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="edit_password">新的支付密码</label>
                                        <input type="password" id="edit_password" name="edit_password"
                                               class="form-control form-control-danger"
                                               placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row edit_independent_password_field" style="display:none">
                                <div class="col-md-12">
                                    <div class="form-group has-danger">
                                        <label class="control-label" for="edit_password2">确认密码</label>
                                        <input type="password" id="edit_password2" name="edit_password2"
                                               class="form-control form-control-danger"
                                               placeholder="">
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info" id="password_submit">修改</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="../static/js/lib/datatables/datatables.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="../static/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="../static/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- Form validation -->
    <script src="../static/js/lib/form-validation/jquery.validate.min.js"></script>

    <script>
        //表单js提交
        $("#add_submit").click(function () {
            $("#accountForm").submit();
        });
        $("#edit_submit").click(function () {
            $("#accountEditForm").submit();
        });
        $("#password_submit").click(function () {
            $("#passwordForm").submit();
        });
        //是否设置独立密码js控制字段
        $('#independent_password1').change(function () {
            $('#independent_password_field').show();
        })
        $('#independent_password2').change(function () {
            $('#independent_password_field').hide();
        })
        $('#edit_independent_password1').change(function () {
            $('.edit_independent_password_field').show();
        })
        $('#edit_independent_password2').change(function () {
            $('.edit_independent_password_field').hide();
        })
        //accountForm
        $(function () {
            $("#accountForm").validate({
                rules: {
                    chain_address: {
                        required: true,
                        remote: {
                            url: "{{ url_for('account.validate_chain_address') }}",
                            type: "post",
                            data: {
                                chain_address: function () {
                                    return $("#chain_address").val();
                                }
                            }
                        }
                    },
                    chain_password: {
                        required: true
                    },
                    chain_password2: {
                        equalTo: "#chain_password"
                    },
                    account_hash: {
                        required: true,
                        remote: {
                            url: "{{ url_for('account.validate_account_hash') }}",
                            type: "post",
                            data: {
                                chain_address: function () {
                                    return $("#chain_address").val();
                                },
                                account_hash: function () {
                                    return $("#account_hash").val();
                                },
                                account_id: 0
                            }
                        }
                    },
                    account_alias: {
                        required: true,
                        remote: {
                            url: "{{ url_for('account.validate_account_alias') }}",
                            type: "post",
                            data: {
                                account_alias: function () {
                                    return $("#account_alias").val();
                                },
                                account_id: 0
                            }
                        }
                    },
                    across_chain: {
                        required: true
                    },
                    independent_password: {
                        required: true
                    },
                    pay_password: {
                        minlength: 8,
                        maxlength: 20,
                        checkPassword: true,
                        checkPayPassword: true
                    },
                    pay_password2: {
                        equalTo: "#pay_password"
                    },
                    subscribe: {
                        required: true
                    }
                },
                messages: {          //自定义提示信息
                    chain_address: {
                        required: "*RPC地址必填",
                        remote: "*RPC地址不存在"
                    },
                    chain_password: {
                        required: "*私钥必填"
                    },
                    chain_password2: {
                        equalTo: "*两次私钥输入不一致"
                    },
                    account_hash: {
                        required: "*账户地址必填",
                        remote: "*账户已经存在"
                    },
                    account_alias: {
                        required: "*帐号别名必填",
                        remote: "*账户别名已经存在"
                    },
                    across_chain: {
                        required: "*请选择是否开启跨链权限"
                    },
                    independent_password: {
                        required: "*请选择是否设置单独支付密码"
                    },
                    pay_password: {
                        minlength: "*密码最小长度为8",
                        maxlength: "*密码最大长度为20",
                    },
                    pay_password2: {
                        equalTo: "*两次密码输入不一致"
                    },
                    subscribe: {
                        required: "*请阅读并同意相关条款"
                    }
                },
                errorPlacement: function (error, element) {      //错误信息的位置
                    if (element.is(':checkbox'))
                        $(element).parent().siblings(".form-control-feedback").html(error)
                    else if (element.is(':radio'))
                        $(element).parent().parent().siblings(".form-control-feedback").html(error)
                    else
                        $(element).siblings(".form-control-feedback").html(error)
                }
            });
            $.validator.addMethod("checkPayPassword", function (value, element, params) {
                return !($(element).val() === '' && $("input[name='independent_password']:checked").val() === 'true');
            }, "*请输入独立支付密码");
            $.validator.addMethod("checkPassword", function (value, element, params) {
                var checkName = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[._~!@#$^&*])[A-Za-z0-9._~!@#$^&*]{8,20}$/g;
                return this.optional(element) || (checkName.test(value));
            }, "*支付密码由字母、数字、特殊符号组成，区分大小写");
        });
        //accountEditForm
        $(function () {
            $("#accountEditForm").validate({
                rules: {
                    edit_chain_address: {
                        required: true,
                        remote: {
                            url: "{{ url_for('account.validate_chain_address') }}",
                            type: "post",
                            data: {
                                chain_address: function () {
                                    return $("#edit_chain_address").val();
                                }
                            }
                        }
                    },
                    edit_chain_password: {
                        required: true
                    },
                    edit_chain_password2: {
                        equalTo: "#edit_chain_password"
                    },
                    edit_account_hash: {
                        required: true,
                        remote: {
                            url: "{{ url_for('account.validate_account_hash') }}",
                            type: "post",
                            data: {
                                chain_address: function () {
                                    return $("#edit_chain_address").val();
                                },
                                account_hash: function () {
                                    return $("#edit_account_hash").val();
                                },
                                account_id: function () {
                                    return $("#account_id").val();
                                }
                            }
                        }
                    },
                    edit_account_alias: {
                        required: true,
                        remote: {
                            url: "{{ url_for('account.validate_account_alias') }}",
                            type: "post",
                            data: {
                                account_alias: function () {
                                    return $("#edit_account_alias").val();
                                },
                                account_id: function () {
                                    return $("#account_id").val();
                                }
                            }
                        }
                    },
                    edit_across_chain: {
                        required: true
                    },
                    edit_subscribe: {
                        required: true
                    }
                },
                messages: {          //自定义提示信息
                    edit_chain_address: {
                        required: "*RPC地址必填",
                        remote: "*RPC地址不存在"
                    },
                    edit_chain_password: {
                        required: "*私钥必填"
                    },
                    edit_chain_password2: {
                        equalTo: "*两次私钥输入不一致"
                    },
                    edit_account_hash: {
                        required: "*账户地址必填",
                        remote: "*账户已经存在"
                    },
                    edit_account_alias: {
                        required: "*帐号别名必填",
                        remote: "*账户别名已经存在"
                    }, edit_across_chain: {
                        required: "*请选择是否开启跨链权限"
                    },
                    edit_subscribe: {
                        required: "*请阅读并同意相关条款"
                    }
                },
                errorPlacement: function (error, element) {      //错误信息的位置
                    if (element.is(':checkbox'))
                        $(element).parent().siblings(".form-control-feedback").html(error)
                    else if (element.is(':radio'))
                        $(element).parent().parent().siblings(".form-control-feedback").html(error)
                    else
                        $(element).siblings(".form-control-feedback").html(error)
                }
            });
        });
        //passwordForm
        $(function () {
            $("#passwordForm").validate({
                rules: {
                    old_password: {
                        required: true,
                        remote: {
                            url: "{{ url_for('account.validate_password') }}",
                            type: "post",
                            data: {
                                old_password: function () {
                                    return $("#old_password").val();
                                },
                                password_account_id: function () {
                                    return $("#password_account_id").val();
                                }
                            }
                        }
                    },
                    edit_independent_password: {
                        required: true
                    },
                    edit_password: {
                        minlength: 8,
                        maxlength: 20,
                        checkPassword: true,
                        checkPayPassword: true
                    },
                    edit_password2: {
                        equalTo: "#edit_password"
                    }
                },
                messages: {          //自定义提示信息
                    old_password: {
                        required: "*旧密码必填",
                        remote: "*密码错误"
                    },
                    edit_independent_password: {
                        required: "*请选择是否设置单独支付密码"
                    },
                    edit_password: {
                        minlength: "*密码最小长度为8",
                        maxlength: "*密码最大长度为20"
                    },
                    edit_password2: {
                        equalTo: "*两次密码输入不一致"
                    }
                },
                errorPlacement: function (error, element) {      //错误信息的位置
                    if (element.is(':checkbox'))
                        $(element).parent().siblings(".form-control-feedback").html(error)
                    else if (element.is(':radio'))
                        $(element).parent().parent().siblings(".form-control-feedback").html(error)
                    else
                        $(element).siblings(".form-control-feedback").html(error)
                }
            });
            $.validator.addMethod("checkPayPassword", function (value, element, params) {
                return !($(element).val() === '' && $("input[name='edit_independent_password']:checked").val() === 'true');
            }, "*请输入独立支付密码");
            $.validator.addMethod("checkPassword", function (value, element, params) {
                var checkName = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[._~!@#$^&*])[A-Za-z0-9._~!@#$^&*]{8,20}$/g;
                return this.optional(element) || (checkName.test(value));
            }, "*支付密码由字母、数字、特殊符号组成，区分大小写");
        });
        //table
        $(function () {
            $('#accountTable').DataTable(
                {
                    "bPaginate": true, //翻页功能
                    "bLengthChange": true, //改变每页显示数据数量
                    "bFilter": true, //过滤功能
                    "bSort": true, //排序功能
                    "bInfo": true,//页脚信息
                    "bAutoWidth": true,//自动宽度
                    "aaSorting": [[1, "desc"]],//默认第几个排序
                    "bStateSave": true,//状态保存
                    "pading": false,
                    // "pagingType": "full_numbers",
                    "searching": true,//搜索框是否显示
                    "lengthChange": true,//左上角每页显示条数是否显示
                    "oLanguage": {//插件的汉化
                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                        "sZeroRecords": "抱歉， 没有找到",
                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                        "sInfoEmpty": "没有数据",
                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "前一页",
                            "sNext": "后一页",
                            "sLast": "尾页"
                        },
                        "sZeroRecords": "没有检索到数据",
                        "sProcessing": "<img src='' />",
                        "sSearch": "Search"
                    },
                    dom: "<B><lfrt><'table-foot'ip>",
                    buttons: [
                        {
                            text: 'Add',
                            action: function (e, dt, node, config) {
                                $('#addModal').modal('show')
                            }
                        },
                        {
                            extend: 'excel',
                            text: 'Export'
                        },
                    ]
                }
            )
        });
        //删除账户
        $('.account-delete').on('click', function () {
            // 先将当前标签对象存储起来
            let currentBtn = $(this);
            // 二次确认弹框
            swal({
                    title: "你确定要删吗?",
                    text: "请再次确认是否删除该账户",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    showLoaderOnConfirm: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        // 朝后端发送ajax请求删除数据之后 再弹下面的提示框
                        $.ajax({
                            url: "{{ url_for('account.delete') }}",
                            type: 'post',
                            data: {'delete_id': currentBtn.attr('delete_id')},
                            success: function (args) {  // args = {'code':'','msg':''}
                                // 判断响应状态码 然后做不同的处理
                                if (args.code === 1000) {
                                    swal("删除", args.message, "success");
                                    currentBtn.parent().parent().remove()
                                } else {
                                    swal('错误', '出现了位置的错误', 'info')
                                }
                            }

                        })

                    } else {
                        swal("取消", "取消成功", "error");
                    }
                });
        });
        //编辑账户
        $('.account-edit').on('click', function () {
            let currentBtn = $(this);
            $('#editModal').modal('show')
            $('#account_id').val(currentBtn.attr('edit_id'));
            $.ajax({
                url: "{{ url_for('account.edit') }}?edit_id=" + currentBtn.attr('edit_id'),
                type: "get",
                data: '',
                success: function (args) {
                    if (args.code === 1000) {
                        $('#edit_chain_address').val(args.chain_address);
                        $('#edit_account_hash').val(args.account_hash);
                        $('#edit_account_alias').val(args.account_alias);
                        $('#edit_chain_password').val(args.chain_password);
                        $('#edit_chain_password2').val(args.chain_password);
                        $('#edit_pay_password').val(args.pay_password);
                        $('#edit_pay_password2').val(args.pay_password);
                        $("#edit_subscribe").prop("checked", true);
                        if (args.across_chain)
                            $("#edit_cross_chain1").prop("checked", true);
                        else
                            $("#edit_cross_chain2").prop("checked", true);
                    } else {
                        alert("error")
                    }
                },
                error: function (error) {
                    alert("ajax error")
                }

            })
        })
        //修改密码
        $('.account-password').on('click', function () {
            let currentBtn = $(this);
            $('#passwordModal').modal('show')
            $('#password_account_id').val(currentBtn.attr('passwerd_id'));
        })
    </script>
{% endblock %}