{% extends "bootstrap/base.html" %}
{% block html_attribs %}
    lang="en"
{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/logo/logo.png">
{% endblock %}
{% block title %}WalleX——可跨链区块链钱包{% endblock %}
{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}
{% block styles %}
    <!-- Custom CSS -->
    <link href="../static/css/lib/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
{% endblock %}

{#{% block navbar %}#}
{#{% endblock %}#}
{% block body_attribs %}
    class="header-fix fix-sidebar"
{% endblock %}
{% block content %}
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for("main.index") }}">
                        <!-- Logo icon -->
                        <b style="display: none"><img src="../static/images/logo/logo.png" alt="homepage"
                                                      class="dark-logo"/></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="../static/images/logo/logo-text-light.png" alt="homepage" class="dark-logo"
                                   height="35px"/></span>
                    </a>
                </div>
                <!-- End Logo -->


                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"><a class="nav-link toggle-nav hidden-md-up text-muted  "
                                                href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                        <li class="nav-item m-l-10"><a class="nav-link sidebartoggle hidden-sm-down text-muted  "
                                                       href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                    </ul>


                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><i class="bi-person-fill"></i></a>
                            <div class="dropdown-menu dropdown-menu-right animated slideInRight">
                                <ul class="dropdown-user">
                                    {% if current_user.is_authenticated %}
                                        <li><a href="{{ url_for('user.index') }}"> 个人中心</a></li>
                                        <li><a href="{{ url_for('account.index') }}"> 个人账户</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
                                    {% else %}
                                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebar-menu">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li><a href="{{ url_for('main.index') }}" aria-expanded="false"><i
                                class="fa fa-home"></i><span
                                class="hide-menu">主页</span></a>
                        </li>
                        <li class="nav-label">Personal</li>
                        <li><a href="{{ url_for('user.index') }}"
                               aria-expanded="false"><i class="ti-user"></i>
                            <span class="hide-menu">个人中心</span></a>
                        </li>

                        <li><a href="{{ url_for('account.index') }}" aria-expanded="false"><i
                                class="ti-wallet"></i><span
                                class="hide-menu">个人账户 </span></a>
                        </li>
                        <li class="nav-label">Exchange</li>
                        <li><a href="{{ url_for('exchange.index') }}" aria-expanded="false">
                            <i class="fa fa-exchange"></i>
                            <span class="hide-menu">普通交易</span></a>
                        </li>
                        <li><a href="{{ url_for('cross_exchange.index') }}" aria-expanded="false">
                            <i class="ti-vector"></i>
                            <span class="hide-menu">跨链交易</span></a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            {#            {% for message in get_flashed_messages() %}#}
            {#                <div class="alert alert-warning">#}
            {#                    <button type="button" class="close" data-dismiss="alert">&times;</button>#}
            {#                    {{ message }}#}
            {#                </div>#}
            {#            {% endfor %}#}
            {% block page_content %}
            {% endblock %}
            <!-- footer -->
            <footer class="footer text-center"> WalleX——可跨链区块链钱包 @吴周极 黄俊勋 宋正浩
            </footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
{% endblock %}

{% block scripts %}
    <!-- All Jquery -->
    <script src="../static/js/lib/jquery/jquery.min.js"></script>
    <script src="../static/js/lib/jquery/jquery.app.js"></script>
    <script src="../static/js/lib/jquery/jquery.blockUI.js"></script>
    <script src="../static/js/lib/jquery/jquery.nicescroll.js"></script>

    <!--Menu sidebar -->
    {#    <script src="../static/js/sidebarmenu.js"></script>#}
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/js/lib/bootstrap/popper.min.js"></script>
    <script src="../static/js/lib/bootstrap/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../static/js/jquery.slimscroll.js"></script>
    <!--stickey kit -->
    <script src="../static/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/js/lib/webticker/jquery.webticker.min.js"></script>
    <script src="../static/js/lib/peitychart/jquery.peity.min.js"></script>
    <!-- sweetalert-->
    <script src="../static/js/lib/sweetalert/sweetalert.min.js"></script>
    <!-- scripit init-->
    <script src="../static/js/custom.min.js"></script>
    <script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {#$.Notification.notify('{{ category }}', 'bottom right', 'Notification', '{{ message }}')#}
                    {% if category =='error' %}
                        $(function () {
                            sweetAlert("错误", "{{ message }}", "{{ category }}")
                        })
                    {% elif category =='success'%}
                        $(function () {
                            sweetAlert("成功", "{{ message }}", "{{ category }}")
                        })
                    {% elif category =='info'%}
                        $(function () {
                            sweetAlert("注意", "{{ message }}", "{{ category }}")
                        })
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
    {{ moment.include_moment() }}
    {{ moment.locale('zh-cn') }}
{% endblock %}
