{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    <link href="../static/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/lib/bootstrap/bootstrap-select.min.css" rel="stylesheet"/>

    {{ super() }}
{% endblock %}
{% block page_content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">WalleX</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for("main.index") }}">主页</a></li>
                <li class="breadcrumb-item active">普通交易</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-lg-12 responsive-md-100">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">普通交易</h4>
                    </div>
                    <div class="card-body p-lg-3 p-sm-2">
                        <div class="row justify-content-center">
                            <form class="form-horizontal p-t-50 col-sm-8" method="post" role="form" id="exchangeForm"
                                  action="{{ url_for('exchange.common') }}">
                                <div class="form-group row">
                                    <label for="personal_account" class="col-sm-2 control-label">本人账户
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-user"></i></div>
                                            <select class="form-control  form-type" id="personal_account"
                                                    name="personal_account">
                                                <option disabled selected value>请选择本人账户</option>
                                                {% for account in accounts %}
                                                    <option value="{{ account.id }}"
                                                            class="select-value">{{ account.account_alias }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <small class="form-control-feedback form-feedback"></small>
                                        <dl class="row m-t-10 m-b-0 account-al" style="display: none" id="account_info">
                                            <dt class="col-lg-2">余额</dt>
                                            <dd class="col-lg-10" id="money_info"></dd>
                                            <dt class="col-lg-2">RPC地址</dt>
                                            <dd class="col-lg-10" id="chain_address_info"></dd>
                                            <dt class="col-lg-2">账户地址</dt>
                                            <dd class="col-lg-10" id="account_hash_info"></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="exchange_account" class="col-sm-2 control-label">交易账户
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-user"></i></div>
                                            <input type="text" class="form-control form-type" name="exchange_account"
                                                   id="exchange_account" placeholder="请输入账户地址">
                                        </div>
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="money" class="col-sm-2 control-label">交易金额
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-wallet"></i></div>
                                            <input type="text" class="form-control form-type" id="money" name="money"
                                                   placeholder="请输入交易金额" onkeyup=" checknum(this);">
                                        </div>
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-2 control-label">支付密码
                                        <span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                                            <input type="password" class="form-control form-type" name="password"
                                                   id="password" placeholder="请输入支付密码">
                                        </div>
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="checkbox checkbox-success">
                                            <input id="subscribe" type="checkbox" name="subscribe">
                                            <label for="subscribe">同意<a href="#">《服务协议》</a>和<a href="#">《免责声明》</a>
                                                <span class="text-danger">*</span></label>
                                        </div>
                                        <small class="form-control-feedback form-feedback"></small>
                                    </div>
                                </div>
                                {#                                <div class="form-group row m-b-0">#}
                                {#                                    <div class="offset-sm-2 col-sm-10">#}
                                {#                                        <button type="submit" class="btn btn-info waves-effect waves-light"#}
                                {#                                                id="common-submit">确定#}
                                {#                                        </button>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </form>
                        </div>
                        <div class="row justify-content-end m-r-10">
                            <button class="btn btn-info step-next" id="common-submit" index="1">
                                确定
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-12">
                <div class="card card-outline-success">
                    <div class="card-body p-lg-3 p-sm-2">
                        <h4 class="card-title">交易记录</h4>
                        <h6 class="card-subtitle">交易信息</h6>
                        <div class=" table-responsive">
                            <table id="commonExchangeTable" class="display nowrap table table-hover table-bordered">
                                <thead class="thead-add">
                                <tr>
                                    <th>本人帐号</th>
                                    <th>交易账户地址</th>
                                    <th>交易金额</th>
                                    <th>交易时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in common_exchange_records %}
                                    <tr>
                                        <td>{{ record.account.account_alias }}</td>
                                        <td>{{ record.exchange_account_hash }}</td>
                                        <td>{{ record.exchange_money }}</td>
                                        <td>{{ moment(record.timestamp).format('YYYY/M/D HH:mm:ss') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->
    <footer class="footer"> © 2018 CoinDash All Right <a href="http://www.17sucai.com/">Reserved</a>.</footer>
    <!-- End footer -->
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="../static/js/lib/datatables/datatables.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="../static/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="../static/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="../static/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- Form validation -->
    <script src="../static/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src=../static/js/lib/bootstrap/bootstrap-select.min.js></script>
    <script src="../static/js/lib/bootstrap/defaults-zh_CN.min.js"></script>

    <script>
        //金额
        function checknum(obj) {
            if (/^\d+\.?\d{0,2}$/.test(obj.value)) {
                obj.value = obj.value;
            } else {
                obj.value = obj.value.substring(0, obj.value.length - 1);
            }
        }

        //表单js提交
        $("#common-submit").click(function () {
            $("#exchangeForm").submit();
        });

        //ajax
        $("#personal_account").change(function () {
            $.ajax({
                url: "{{ url_for('exchange.account_info') }}",
                type: 'post',
                data_type: 'json',
                data: {
                    "id": $(this).val()
                },
                success: function (args) {
                    if (args.code === 1000) {
                        $("#account_info").show()
                        $("#money_info").html(args.money)
                        $("#chain_address_info").html(args.chain_address)
                        $("#account_hash_info").html(args.account_hash)

                    }
                }
            })
        })
        //exchangeForm
        $(function () {
            $("#exchangeForm").validate({
                rules: {
                    personal_account: {
                        required: true,
                    },
                    exchange_account: {
                        required: true,
                        remote: {
                            url: "{{ url_for('exchange.validate_same_user_account') }}",
                            type: "post",
                            data: {
                                exchange_account: function () {
                                    return $("#exchange_account").val();
                                },
                                personal_account: function () {
                                    return $("#personal_account").val();
                                }
                            }
                        }
                    },
                    money: {
                        required: true,
                        remote: {
                            url: "{{ url_for('exchange.validate_money') }}",
                            type: "post",
                            data: {
                                money: function () {
                                    return $("#money").val();
                                },
                                id: function () {
                                    return $("#personal_account").val();
                                }
                            }
                        }
                    },
                    password: {
                        required: true,
                        remote: {
                            url: "{{ url_for('exchange.validate_password') }}",
                            type: "post",
                            data: {
                                password: function () {
                                    return $("#password").val();
                                },
                                personal_account: function () {
                                    return $("#personal_account").val();
                                }
                            }
                        }
                    },
                    subscribe: {
                        required: true
                    }
                },
                messages: {          //自定义提示信息
                    personal_account: {
                        required: "*个人账户必填",
                    },
                    exchange_account: {
                        required: "*交易账户必填",
                        remote: "*交易账户不能是本人账户"
                    },
                    money: {
                        required: "*交易金额必填",
                        remote: "*账户余额不足"
                    },
                    password: {
                        required: "*支付密码必填",
                        remote: "*支付密码错误"

                    },
                    subscribe: {
                        required: "*请阅读并同意相关条款"
                    }
                },
                errorPlacement: function (error, element) {      //错误信息的位置
                    $(element).parent().siblings(".form-control-feedback").html(error)
                },
                submitHandler: function (form) {
                    swal({
                            title: "你确定要交易吗?",
                            text:
                                "<hr>" +
                                "<dl class='row m-l-30 m-r-30'>" +
                                "<dt class='col-sm-4'>本人账户</dt><dd class='col-sm-8 dd-hiden'>" + $("#personal_account").find("option:selected").text() + "</dd>" +
                                "<dt class='col-sm-4' >交易账户</dt><dd class='col-sm-8 dd-hiden'>" + $("#exchange_account").val() + "</dd>" +
                                "<dt class='col-sm-4'>交易金额</dt><dd class='col-sm-8'>" + $("#money").val() + "</dd>"
                                + "</dl>"
                                + "<hr>",
                            html: true,
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "确定",
                            cancelButtonText: "取消",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                            showLoaderOnConfirm: true
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                swal("交易", "正在进行区块链交易，请稍等", "info");
                                // 朝后端发送ajax请求删除数据之后 再弹下面的提示框
                                $.ajax({
                                    url: "{{ url_for('exchange.common') }}",
                                    type: 'post',
                                    data_type: 'json',
                                    data: $('#exchangeForm').serialize(),
                                    success: function (args) {
                                        if (args.code === 1000) {
                                            swal({
                                                title: "交易成功",
                                                text: args.message,
                                                type: "success",
                                                customClass: "common-exchange"
                                            });
                                            $('.common-exchange .confirm').click(function () {
                                                window.location.reload()
                                            })
                                        } else if (args.code === 5000)
                                            swal({
                                                title: "交易失败",
                                                text: args.message,
                                                type: "error",
                                                customClass: "common-exchange"
                                            });
                                        else
                                            swal('错误', '出现了位置的错误', 'info')
                                    }
                                })
                            } else {
                                swal("取消", "取消成功", "error");
                            }
                        });
                }
            });
        });

        //commonExchangeTable
        $(function () {
            $('#commonExchangeTable').DataTable(
                {
                    "lengthMenu":[5,10,15,20,25,50,100],
                    "language": {//插件的汉化
                        "lengthMenu": "每页显示 _MENU_ 条记录",
                        "info": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                        "infoEmpty": "没有数据",
                        "infoFiltered": "(从 _MAX_ 条数据中检索)",
                        "paginate": {
                            "first": "首页",
                            "previous": "前一页",
                            "next": "后一页",
                            "last": "尾页"
                        },
                        "zeroRecords": "暂无相关交易记录",
                        "processing": "处理中...",
                        "search": "Search"
                    },
                    dom: "<B><lfrt><'table-foot'ip>",
                    buttons: [
                        {
                            extend: 'excel',
                            text: 'Export'
                        },
                    ]
                }
            )
        });

        //crossExchangeTable
        $(function () {
            $('#crossExchangeTable').DataTable(
                {
                    "bPaginate": true, //翻页功能
                    "bLengthChange": true, //改变每页显示数据数量
                    "bFilter": true, //过滤功能
                    "bSort": true, //排序功能
                    "bInfo": true,//页脚信息
                    "bAutoWidth": true,//自动宽度
                    "aaSorting": [[1, "desc"]],//默认第几个排序
                    "bStateSave": true,//状态保存
                    "pading": false,
                    // "pagingType": "full_numbers",
                    "searching": true,//搜索框是否显示
                    "lengthChange": true,//左上角每页显示条数是否显示
                    "oLanguage": {//插件的汉化
                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                        "sZeroRecords": "抱歉， 没有找到",
                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                        "sInfoEmpty": "没有数据",
                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "前一页",
                            "sNext": "后一页",
                            "sLast": "尾页"
                        },
                        "sZeroRecords": "没有检索到数据",
                        "sProcessing": "<img src='' />",
                        "sSearch": "Search"
                    },
                    dom: "<B><lfrt><'table-foot'ip>",
                    buttons: [
                        {
                            extend: 'excel',
                            text: 'Export'
                        },
                    ]
                }
            )
        });
    </script>
{% endblock %}