{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">WalleX</h3></div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-wallet f-s-40 color-primary"></i></span>
                        </div>
                        <div class="media-body text-right">
                            <h4>2</h4>
                            <p class="m-b-0">账户钱包</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-money f-s-40 color-success"></i></span>
                        </div>
                        <div class="media-body text-right">
                            <h4>178</h4>
                            <p class="m-b-0">钱包余额</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-bar-chart f-s-40 color-warning"></i></span>
                        </div>
                        <div class="media-body text-right">
                            <h4>$27647</h4>
                            <p class="m-b-0">总收入</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-bar-chart-alt f-s-40 color-danger"></i></span>
                        </div>
                        <div class="media-body text-right">
                            <h4>278</h4>
                            <p class="m-b-0">总支出</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-title">
                        <h4><a class="index-a" href="{{ url_for('user.index') }}">个人中心</a></h4></div>
                    <div class="index-content card-body">
                        {% if current_user.avatar %}
                            <img class=index-author-img src="../static/images/avatar/{{ current_user.avatar }}"
                                 alt="avatar"/>
                        {% else %}
                            <img class=index-author-img src="../static/images/avatar/dragon_2.jpg" alt="avatar"/>
                        {% endif %}
                        <h3>{{ current_user.username }}</h3>
                        <div id="index-user">
                            {% if current_user.location %}
                                <div>
                                    <i class="ti-location-pin"></i>
                                    {{ current_user.location }}
                                </div>
                            {% endif %}
                            {% if current_user.phone %}
                                <div>
                                    <i class="fa fa-phone"></i>
                                    {{ current_user.phone }}
                                </div>
                            {% endif %}
                            <div>
                                <i class="ti-email"></i>
                                <a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a>
                            </div>
                        </div>
                        {#                        <div>{% if current_user.signature %}#}
                        {#                            <i class="fa fa-quote-left"></i>#}
                        {#                            {{ current_user.signature }}#}
                        {#                            <i class="fa fa-quote-right"></i>#}
                        {#                        {% endif %}</div>#}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 ">
                <div class="card">
                    <div class="card-title">
                        <h4>个人账户</h4></div>
                    <div class="card-body">
                        <div class="account-table">
                            <div class="table-responsive">
                                <table class="table table-de mb-0">
                                    <thead>
                                    <tr>
                                        <th>PRC地址</th>
                                        <th>帐号地址</th>
                                        <th>账户别名</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for account in accounts %}
                                        <tr>
                                            <td>{{ account.chain_address }}</td>
                                            <td><i class="ti-wallet m-l-5 color-primary"> </i>{{ account.account_hash }}
                                            </td>
                                            <td>{{ account.account_alias }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>普通交易</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-de mb-0">
                                <thead>
                                <tr>
                                    <th>RPC地址</th>
                                    <th>本人账户地址</th>
                                    <th>交易账户地址</th>
                                    <th>金额</th>
                                    <th>时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in common_exchange_records %}
                                    <tr>
                                        <td>{{ record.account.chain_address }}</td>
                                        <td>
                                            <i class="ti-wallet m-l-5 color-info"> </i> {{ record.account.account_hash }}
                                        </td>
                                        <td>
                                            <i class="ti-wallet m-l-5 color-success"> </i> {{ record.exchange_account_hash }}
                                        </td>
                                        <td><i class="cc ETH "> </i>{{ record.exchange_money }}</td>
                                        <td>{{ moment(record.timestamp).format('YYYY/M/D HH:mm:ss') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock %}
